@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Raleway:wght@800&family=Special+Elite&display=swap');

*{
    padding:0;
    margin:0;
    border:0;
}
/* Navigation panel */

#menu{
    width:90%;
    height:75px;
    text-align:right;
    margin:0 auto;
}
#menu >li{
    font-family:'Special Elite', sans-serif;
    color:#3a3a3a;
    font-size:140%;
    display:inline;
    decoration:none;
    margin:4px;
    text-transform:uppercase;
    line-height:75px;
}
#menu a{
    text-decoration:none;
    color:inherit;
}
#menu a:hover{
    color:#F6efee;
}
.current-page{
    border-bottom:1px solid #3a3a3a;
}    

/* Footer styling */
#social-links{
    width:90%;
    height:75px;
    text-align:center;
    margin:0 auto;
}
#social-links >li{
    color:#3a3a3a;
    font-size:140%;
    display:inline;
    decoration:none;
    margin:4px;
    line-height:75px;
}    

#social-links i{
    font-size: 160%;
    margin:1%;
    padding:2%;
    color: #3a3a3a;
}
#social-links a:hover{
    color:#F6efee;
}