@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Raleway:wght@800&family=Special+Elite&display=swap');

*{
    padding:0;
    margin:0;
    border:0;
}
h1{
    font-family:'Cabin Sketch', sans-serif;
    text-transform:uppercase;
}
h2{
    font-family:Raleway, sans-serif;
    text-transform:uppercase;
}
h3, p{
    font-family:'Special Elite', sans-serif;
}
/* Navigation panel */

#navigation{
    width:90%;
    height:75px;
    text-align:right;
    margin:0 auto;
}
#navigation >li{
    font-family:'Special Elite', sans-serif;
    color:#3a3a3a;
    font-size:140%;
    display:inline;
    decoration:none;
    margin:4px;
    text-transform:uppercase;
    line-height:75px;
}
#navigation a{
    text-decoration:none;
    color:inherit;
}
#navigation a:hover{
    color:#F6efee;
}
.current-page{
    border-bottom:1px solid #3a3a3a;
}    
/* Hero Image */
#hero-container{
    width:90%;
    height:600px;
    margin:0 auto;
    overflow:hidden;
    position:relative;
    margin:0 auto;
    background:url('../images/food-truck.jpeg') no-repeat center center;
    background-size: 100%;
    top:10%;
}

#lalucha-banner{
    width:50%;
    height:110px;
    font-size:4vw;
    text-align:center;
    color:#F6EFEE;
    background:url('../images/banner.png') no-repeat center center;
    background-size: 100% 100%;
    position:relative;
    margin:0 auto;
    top:10%;
}
#foodtruck-overlay{
    font-size:3vw;
    text-align:center;
    line-height:110%;
    width:20%;
    background-color:#F6EFEE;
    color:#3a3a3a;
    position:relative;
    margin:0 auto;
    padding:5px;
    top:6%;
    border-radius:5%;
}

/* Menu banner */
#banner-container{
    width:90%;
    height:250px;
    margin:0 auto;
    overflow:hidden;
    background:url('../images/chalkboard-backgrounds.jpg') no-repeat center center;
    background-size: 100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
#banner-container div{
    color:#F6EFEE;
}
#left-foodtruck{
    text-align:right;
    font-size:5vw;
    line-height:130%;
}
#center-menu{
    text-align:center;
    font-size:12vw;
    padding:0;
}
#right-times img{
    width:80%;
}
.solid-banner{
    margin:0 auto;
    padding:10px;
}

/* Menu categories */
#menu-items{
    width:90%;
    position:relative;
    height:400px;
    margin:0 auto;
    overflow:hidden;
    background:url('../images/chalkboard-backgrounds.jpg') no-repeat center center;
    background-size: 100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.menu-sections{
    width:33%;
    height:380px;
    border:1px solid #F6EFEE;
    box-sizing:border-box;
    color:#F6EFEE;
    padding:30px;
    margin:10px;
    font-size:1.6em;
    line-height: 1.5em;
}
.menu-sections h3{
    text-transform:uppercase;
    font-size:1.8em;
}
#menu-sides{
    text-align:right;
}
#menu-mains{
    text-align:center;
}
#menu-drinks{
    text-align:left;
}

/* Footer styling */
footer{
    width:90%;
    height:75px;
    margin:0 auto;
}
#social-links{
    text-align:center;
}
#social-links >li{
    color:#3a3a3a;
    font-size:140%;
    display:inline-block;
}    
#social-links i{
    font-size: 160%;
    padding:20px 20px 0 20px;
    color:#3a3a3a;
    decoration:none;
}
#social-links i:hover{
    color:#F6efee;
}